<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: White (2017-04-14 14:20)</string>
	<string>M7.2-4582-1</string>
	<string>M7.3-5046-3</string>
	<string>G-r14-2D153</string>
</array>
</plist>
